<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern
            >%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread]) %boldYellow(%logger{20}) - %msg%n</pattern>
    </encoder>
    </appender>

    <!-- Suppress MongoDB INFO logs -->
    <logger name="org.mongodb.driver.client" level="WARN" />
    <logger name="org.mongodb.driver.cluster" level="WARN" />
    <logger name="org.mongodb.driver.connection" level="WARN" />
    <logger name="org.mongodb.driver.protocol" level="WARN" />
    <logger name="org.mongodb" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
